/* Form CSS*/
.form{
  backdrop-filter: blur(8px);
  background-color: rgba(178,60,253,0);
  z-index: 1;
}

.wrapper {
  width: 100%;
}
.icon{
  height: 100%;
  width: 50px;
}
a.social{

}
.myColor {
  background-color:#282d32;
}
.myShadow {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.myBtn {
  border-radius: 50px;
  font-weight: bold;
  font-size: 20px;
  background: darkblue;
  border: none;
}
.myBtn:hover {
  background: black;
}
.myHr {
  height: 2px;
  border-radius: 100px;
}
.myLinkBtn {
  border-radius: 100px;
  width: 50%;
  border: 2px solid #fff;
}
